parameters:
	typeAliases:
		robo-pamald-lock-differ-task-options: '''
			array{
				assetNamePrefix?: string,
				leftPackages?: array<string, \Pamald\Pamald\DependencyInterface>,
				rightPackages?: array<string, \Pamald\Pamald\DependencyInterface>,
				lockDiffer?: ?\Pamald\Pamald\LockDiffer,
			}
		'''
		robo-pamald-reporter-task-options: '''
			array{
				assetNamePrefix?: string,
				lockDiffEntries?: array<string, \Pamald\Pamald\LockDiffEntry>,
				reporter?: \Pamald\Pamald\ReporterInterface,
			}
		'''
		robo-pamald-modify-commit-msg-parts-task-options: '''
			array{
				assetNamePrefix?: string,
				sha1?: string,
				patterns?: array<string>,
				stateKeyCommitMsgParts?: string,
				reporter?: null|(\Pamald\Pamald\ReporterInterface&\Pamald\Pamald\StreamAwareInterface),
			}
		'''
